
/* Top full-width image styling */
.arch-lnd-img{
    height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../assets/architecturepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.top-image {
  width: 100%;
  max-width: 2570px;
  margin: 0 auto;
  position:relative;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.architecture-container {
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: #e9ddc9;
}

.architecture-text {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #333;
}

.architecture-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 40px auto 0;
  max-width: 1000px;
}

.architecture-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.architecture-item img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}

.architecture-overlay {
  position: absolute;
  bottom: -120px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  color: #fff;
  font-size: 18px;
  transition: bottom 0.4s ease;
}
.architecture-item:hover img {
  transform: scale(1.08);
}

.architecture-item:hover .architecture-overlay {
  bottom: 10px;
}
